body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.tooltip {	
  display: inline-block;
  position: absolute;			
  text-align: center;			
  /* width: 68px;					
  height: 48px;					 */
  padding: 2px;				
  font: 12px sans-serif;		
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}

path {
  vector-effect: non-scaling-stroke;
}

circle#green {
  stroke: green
}

circle#red {
  stroke: red
}